<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunbing.demo.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sunbing.demo.entity.User">
        <id column="id" property="id" />
        <result column="user_name" property="userName" />
        <result column="password" property="password" />
        <result column="email" property="email" />
        <result column="created_stime" property="createdStime" />
        <result column="modified_stime" property="modifiedStime" />
        <result column="is_del" property="isDel" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_name, password, email, created_stime, modified_stime, is_del
    </sql>

    <select id="selectPageVo" resultType="com.sunbing.demo.vo.UserPageVo">
        SELECT * FROM user
        <include refid="BaseWhere"/>
        order by id desc
    </select>
    <sql id="BaseWhere">
        <where>
            <if test="queryParam.id != null">
                AND id = #{queryParam.id}
            </if>
            <if test="queryParam.userName != null and queryParam.userName != '' ">
                AND user_name LIKE CONCAT('%', #{queryParam.userName}, '%')
            </if>
            <if test="queryParam.email != null and queryParam.email != ''">
                AND email LIKE CONCAT('%', #{queryParam.email}, '%')
            </if>
        </where>
    </sql>
</mapper>
